
@{
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
    ViewBag.Title = "Login";
}

<h2>OgCRM Login</h2>

@using (Html.BeginForm(nameof(UserAccountController.Login), nameof(UserAccountController).RemoveControllerFromName()))
{
    <div class="form-group">
        <label for="EmailTB">Email address</label>
        <input type="email" class="form-control" id="EmailTB" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="PasswordTB">Password</label>
        <input type="password" class="form-control" id="PasswordTB" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
}

<div>
<a href="@Url.Action(nameof(UserAccountController.Register), nameof(UserAccountController).RemoveControllerFromName())" class="btn btn-primary pull-right">Register</a>
</div>