<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Remove Existing Repository app setting -->
    <add xdt:Transform="Remove" xdt:Locator="Match(key)" key="Repository" />
    
    <!-- Replace with connection string for Azure SQL Database. -->
    <add xdt:Transform="Insert" key="Repository" value="SqlServerAzure" />
  </appSettings>
</configuration>