@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-top-links navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="@Url.Action(nameof(UserAccountController.New), nameof(UserAccountController).RemoveControllerFromName())">Register</a>
            <li><a href="@Url.Action(nameof(UserAccountController.Login), nameof(UserAccountController).RemoveControllerFromName())">Login</a>
</ul>
}
